:root {
  scroll-behavior: smooth;
  --font: Monserrat, sans-serif;
  --white: #fff;
  --black: #141F0D;
  --primary: #01118F;
  --grey: #F2F5FA;
  --engagement: #1D6573;
  --background: #BCC0E0;
}

// Les couleurs
$white: #fff;
$black: #000;
$beige-clair: #F9F3EF;
$beige: #B89C88;
$maron-clair: #7D4C3A;
$maron: #25170B;



// Les éléments
$dark-font: $black;
$light-font: $beige-clair;
$title: #000;
$background-color: $black;

$btn-primary: $maron-clair;
$btn-secondary: $beige-clair;
