@import "./utilities/_variables.scss";
@import "./base/_reset.scss";
@import "./base/_font.scss";
@import "./base/_base.scss";

@import "./sections/header.scss";
@import "./sections/footer";

@import "./components/image-crop";
@import "./components/button";
@import "./components/title";

html {
  background-color: $beige-clair;

  a {
    text-decoration: none !important;
  }
}


.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

